/* Color Theme Swatches in Hex */
.Dark-main-color { color: #726559; }
.Medium-main-color { color: #BBA997; }
.Light-main-color { color: #FFFFFF; }

/* Accessibility contrast colors */
.contrast-text {color: #FFC745; }
.contrast-background {color: #003B3A; }

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    transition: 1s ease;
}

header .brand {
    color: #726559;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 640;
    max-height: 120px;
    max-width: 120px;
    
}

header .brand img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

header #navigation .nav-items a {
    position: relative;
    color: #726559;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.8s ease;
}

header #navigation .nav-items a::before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 3px;
    background: #FFC745;
    transition: 0.4s ease;
}

header #navigation .nav-items a:hover:before {
    width: 100%;
}